<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这行代码声1明了文档类型（DOCTYPE），指定了 MyBatis 映射文件的 DTD（文档类型定义）。DTD 用于验证 XML 文件的结构是否正确。然而，由于网络原因，DTD 文件可能无法正确解析，这通常不会影响到 MyBatis 的正常使用，因为 MyBatis 在运行时并不需要 DTD 文件。-->
<mapper namespace="cn.tedu.mybatisdemo.Mapper.StudentMapper">
    <select id="getStudentAll" resultType="cn.tedu.mybatisdemo.pojo.Student">
        SELECT id,name,age,gender,job,birth,location_id,team_leader,class_id
        FROM student
    </select>
    <insert id="insertStudent" >
        insert into student values ('7777', '猪八戒', 3000, '男', '分家大队长', NULL, 0, 0, 0)
    </insert>
    <delete id="deleteStudent">
        delete
        from student
        where name='猪八戒';
    </delete>
    <update id="updateStudent">
        update student set job='净坛使者'
        WHERE name = '猪八戒'
    </update>
    <select id="getStudentById" resultType="cn.tedu.mybatisdemo.pojo.Student">
        select id,
               name,
               age,
               gender,
               job,
               birth,
               location_id,
               team_leader,
               class_id
        FROM student
        where id=#{id}
    </select>
    <select id="getListByIds" resultType="cn.tedu.mybatisdemo.pojo.Student">
        select id,
               name,
               age,
               gender,
               job,
               birth,
               location_id,
               team_leader,
               class_id
        FROM student
        where id >#{min}
        and id<#{max}
    </select>
    <insert id="addStudent">
        insert into student values (#{id}, #{name},
                                    #{age}, #{gender}, #{job}, #{birth}, #{locationId},
                                    #{teamLeader}, #{classId})

    </insert>

</mapper>